---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="ABOUT LONGHORNS CRUSHING MEDICAL DEBT" description="ABOUT TEXAS DOLLAR FOR">
    <div class="stack gap-20">
        <main class="wrapper about">
            <Hero
                title="About Our Mission"
                tagline="A Medical crisis shouldn’t mean a Financial crisis."
            >
                <img
                    width="1000"
                    height="873"
                    src="/assets/placeholder-image.jpg"
                    alt="Stats"
                />
            </Hero>

            <section>
                <div class="content">
                   </p>

                    <p>
                        At UT Austin, our goal is to form a group of passionate students into an independent UT chapter, mobilized towards eliminating medical debt and helping spread awarness as people navigate the healthcare financial system after a medical crisis!
                    </p>
                </div>
            </section>

            <section class="Officers">
				<h2 class="section-title">Officers</h2>
				<ul class="board-list">
					<li><strong>Co-President:</strong> Guhan Periyasamy</li>
					<li><strong>Co-President:</strong> Rishit Yokanath</li>
					<li><strong>Treasurer:</strong> Maheen Shujaat</li>
					<li><strong>Secretary:</strong> Rahi Mehta</li>
					<li><strong>Social Chair:</strong> Tanisha Madhavan</li>
					<li><strong>Volunteer Coordinator:</strong> Vignesh Kulanthaivel</li>
					<li><strong>Community Partner Coordinator: </strong>Vaishu Marreddy</li>
				</ul>
			</section>
			
        </main>

        <ContactCTA />
    </div>
</BaseLayout>


<style>
	.about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
}

section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
}

p {
    text-indent: 2rem;
    margin-bottom: 1.5rem;
    width: 80%;
}

.section-title {
    font-size: var(--text-2xl);
    color: var(--gray-0);
    margin-bottom: 1rem;
}

.content {
    grid-column: 2 / 4;
}

.content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
}

.content :global(a:hover),
.content :global(a:focus) {
    text-decoration-color: currentColor;
}

.executive-board {
    background-color: var(--gray-800);
    padding: 2rem;
    border-radius: 0.5rem;
}

.board-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--gray-300);
    font-size: var(--text-lg);
}

.board-list li {
    margin-bottom: 0.5rem;
}
.board-list strong {
    font-weight: bold;
}


@media (min-width: 50em) {
    .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
        grid-column-start: 2;
    }

    section {
        display: contents;
        font-size: var(--text-lg);
    }
}

</style>
